# React Native
# Build output
android/.gradle/
android/app/build/
android/app/src/main/res/mipmap-*/ic_launcher.xml
android/app/src/main/res/mipmap-*/ic_launcher_round.xml
ios/build/
ios/Pods/
ios/DerivedData/

# Node modules
node_modules/
.pnp/
.pnp.js

# Yarn
yarn-error.log
yarn-debug.log

# Environment variables
.env

# Watchman files
.watchmanconfig

# IDE files
.vscode/
.idea/
.yarn/
*.sublime-project
*.sublime-workspace

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
*.DS_Store
*.log
*.swp
*.lock
*.tgz
*.zip

# Coverage directory
coverage/

# Testing
jest-test-results.json
jest.config.js
